target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
#.idea/modules.xml
#.idea/jarRepositories.xml
#.idea/compiler.xml
#.idea/libraries/
.gitignore
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources/da0c2199-e4d0-4353-bb77-31e1ceb63743/storage_v2/_src_/schema/raf_vodic_schema.I89I7w.meta
/.idea/dataSources/da0c2199-e4d0-4353-bb77-31e1ceb63743.xml
/.idea/dataSources.local.xml
/.idea/dataSources/da0c2199-e4d0-4353-bb77-31e1ceb63743/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/da0c2199-e4d0-4353-bb77-31e1ceb63743/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/da0c2199-e4d0-4353-bb77-31e1ceb63743/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/da0c2199-e4d0-4353-bb77-31e1ceb63743/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/workspace.xml
/.idea/httpRequests/2024-09-05T012928.500.html
/.idea/httpRequests/2024-09-05T013022.500.html
/.idea/httpRequests/2024-09-05T013036.500.html
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/http-requests-log.http
/.idea/dataSources/01adb554-a630-4a14-8540-e1fb5eaee60b.xml
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c.xml
/.idea/dataSources/01adb554-a630-4a14-8540-e1fb5eaee60b/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c/storage_v2/_src_/schema/korisnici.mTx4Sw.meta
/.idea/dataSources/01adb554-a630-4a14-8540-e1fb5eaee60b/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/01adb554-a630-4a14-8540-e1fb5eaee60b/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c/storage_v2/_src_/schema/raf_vodic_schema.I89I7w.meta
/.idea/dataSources/01adb554-a630-4a14-8540-e1fb5eaee60b/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/f5588a51-e7a3-4d4b-b906-2e965ebb145c/storage_v2/_src_/schema/sys.zb4BAA.meta
